<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Yornews</title>
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/app.css" />
    </head>
    <body>
        <div class="home-screen">
            <h1>Yornews.</h1>
            <article>
                <h5>
                    Taxas de juros adotam viés de alta em meio a aceleração dos
                    juros dos Treasuries
                </h5>
                <p class="home-paragraph">
                    Os juros futuros adotaram há pouco viés de alta na manhã
                    desta segunda-feira, 27, em meio ao avanço dos juros dos
                    Treasuries e com dólar voltando ao terreno positivo. Os
                    juros dos...
                </p>
            </article>
            <article>
                <h5>
                    Taxas de juros adotam viés de alta em meio a aceleração dos
                    juros dos Treasuries
                </h5>
                <p class="home-paragraph">
                    Os juros futuros adotaram há pouco viés de alta na manhã
                    desta segunda-feira, 27, em meio ao avanço dos juros dos
                    Treasuries e com dólar voltando ao terreno positivo. Os
                    juros dos...
                </p>
            </article>
            <article>
                <h5>
                    Taxas de juros adotam viés de alta em meio a aceleração dos
                    juros dos Treasuries
                </h5>
                <p class="home-paragraph">
                    Os juros futuros adotaram há pouco viés de alta na manhã
                    desta segunda-feira, 27, em meio ao avanço dos juros dos
                    Treasuries e com dólar voltando ao terreno positivo. Os
                    juros dos...
                </p>
            </article>
            <article>
                <h5>
                    Taxas de juros adotam viés de alta em meio a aceleração dos
                    juros dos Treasuries
                </h5>
                <p class="home-paragraph">
                    Os juros futuros adotaram há pouco viés de alta na manhã
                    desta segunda-feira, 27, em meio ao avanço dos juros dos
                    Treasuries e com dólar voltando ao terreno positivo. Os
                    juros dos...
                </p>
            </article>
        </div>
    </body>
</html>
